<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Index</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		#nav_id {
			border-radius: unset;
		}
		.box-body{
			width: 100%;
			height: 400px;
			background: #ecf0f5;
		}
		.box>.content{
			width: 200px;
			height: 50px;
			/*border: 1px solid #000000;*/
			background: white;
			float: left;
			margin-top: 10px;
			margin-left: 10px;
		}
		.content>p{
			font-size: 14px;
			color: #000000;
			padding-left: 10px;
		}
		p>a{
			text-indent: initial;
			text-decoration: none;
		}
	</style>
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav id="nav_id" class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="javascript:void(0)">菜鸟教程</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">站点导航</a></li>
            <li><a href="#">SVN</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Java <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="#">另一个分离的链接</a></li>
                </ul>
            </li>
        </ul>
    </div>
	</div>
</nav>
<div class="container">
	<div class="box-body">
		<div class="btn">
			<a type="button" class="btn btn-info" href="{% url 'manage' %}">管理站点</a>
            <a type="button" class="btn btn-info" href="{% url 'checkbox' %}">checkbox</a>
		</div>
		<div class="box">
			<div class="content">
				<p class="header">百度</p>
				<p class="footer">
					<a href="http://www.baidu.com" target="_blank">百度</a>
				</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>